{
  "openapi": "3.1.0",
  "info": {
    "title": "Evaro API Documentation",
    "description": "REST API documentation for e-pharmacy-api plugin endpoints (api/v1 and api/v2 only)",
    "version": "6.8.2",
    "contact": {},
    "x-logo": {
      "url": "assets/logo.svg",
      "href": "https://github.com/TotalAccessHealth/e-pharmacy-api"
    }
  },
  "servers": [
    {
      "url": "https://api.evaro.com/json",
      "description": "Production Environment"
    },
    {
      "url": "https://api-staging.evaro.com/json",
      "description": "Staging Environment"
    },
    {
      "url": "https://api-development.evaro.com/json",
      "description": "Development Environment"
    }
  ],
  "tags": [
    {
      "name": "Analytics"
    },
    {
      "name": "Authenticate"
    },
    {
      "name": "Author"
    },
    {
      "name": "Authors"
    },
    {
      "name": "Bulk"
    },
    {
      "name": "Cart"
    },
    {
      "name": "Coupons"
    },
    {
      "name": "Customer"
    },
    {
      "name": "Dialogflow"
    },
    {
      "name": "Flag"
    },
    {
      "name": "Flags"
    },
    {
      "name": "Hashes"
    },
    {
      "name": "Order"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Patient"
    },
    {
      "name": "Pharmacy"
    },
    {
      "name": "Product"
    },
    {
      "name": "Products"
    },
    {
      "name": "Question"
    },
    {
      "name": "Question-image"
    },
    {
      "name": "Questionnaire"
    },
    {
      "name": "Questionnaires"
    },
    {
      "name": "Questions"
    },
    {
      "name": "Review"
    },
    {
      "name": "Ryft"
    },
    {
      "name": "Shipping"
    },
    {
      "name": "Test"
    },
    {
      "name": "User"
    },
    {
      "name": "Vendor"
    },
    {
      "name": "Vendors"
    }
  ],
  "components": {
    "schemas": {
      "order_item_status": {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "order_item_status",
        "type": "object",
        "properties": {
          "order_item_hash": {
            "description": "The unique hash of the order item.",
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]+$",
            "example": "itm_a27b967b8e1d4f2eb57cb57a40"
          }
        }
      }
    }
  },
  "paths": {
    "/api/v1": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "default": "api/v1"
            }
          },
          {
            "name": "context",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "default": "view"
            }
          }
        ]
      }
    },
    "/api/v1/analytics/pixel": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {}
          },
          {
            "name": "campaign",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {}
          },
          {
            "name": "data",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Analytics"
        ]
      }
    },
    "/api/v1/authenticate/token/validate": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Authenticate"
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Authenticate"
        ]
      }
    },
    "/api/v1/authenticate/token/generate": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string"
                  }
                },
                "required": [
                  "key"
                ]
              }
            }
          }
        },
        "tags": [
          "Authenticate"
        ]
      }
    },
    "/api/v1/authenticate/token/get": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string"
                  }
                },
                "required": [
                  "key"
                ]
              }
            }
          }
        },
        "tags": [
          "Authenticate"
        ]
      }
    },
    "/api/v1/authenticate/token/renew": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "jwt_renew": {
                    "type": "string"
                  },
                  "user_hash": {
                    "type": "string"
                  }
                },
                "required": [
                  "jwt_renew"
                ]
              }
            }
          }
        },
        "tags": [
          "Authenticate"
        ]
      }
    },
    "/api/v1/authenticate/sso/exchange": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string"
                  },
                  "user": {
                    "type": "array"
                  },
                  "expires": {
                    "type": "string"
                  },
                  "accessToken": {
                    "type": "string"
                  }
                },
                "required": [
                  "provider",
                  "expires",
                  "accessToken"
                ]
              }
            }
          }
        },
        "tags": [
          "Authenticate"
        ]
      }
    },
    "/api/v1/cart/{hash}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Cart"
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Cart"
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Cart"
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Cart"
        ]
      }
    },
    "/api/v1/customer/cart": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Customer"
        ]
      }
    },
    "/api/v1/user/cart": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      }
    },
    "/api/v1/cart": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Cart"
        ]
      }
    },
    "/api/v1/coupons/validate": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Coupons"
        ]
      }
    },
    "/api/v1/customer/delete": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "hash": {
                    "type": "string"
                  }
                },
                "required": [
                  "hash"
                ]
              }
            }
          }
        },
        "tags": [
          "Customer"
        ]
      }
    },
    "/api/v1/orders": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Orders"
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Orders"
        ]
      }
    },
    "/api/v1/orders/charge": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Orders"
        ]
      }
    },
    "/api/v1/order/cancel/{order_number}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "order_number",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Order"
        ]
      }
    },
    "/api/v1/order/refund/{hash}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Order"
        ]
      }
    },
    "/api/v1/order/items/{hash}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Order"
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Order"
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Order"
        ]
      }
    },
    "/api/v1/order/item/{order_item_hash}/status": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order_item_status"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "order_item_hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "vendor": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        },
        "tags": [
          "Order"
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order_item_status"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "order_item_hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "vendor": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        },
        "tags": [
          "Order"
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order_item_status"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "order_item_hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "vendor": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        },
        "tags": [
          "Order"
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order_item_status"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "order_item_hash",
            "in": "path",
            "description": "The unique hash of the order item.",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Order"
        ]
      }
    },
    "/api/v1/order/{hash}/questionnaire": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_hash": [],
                  "medication_request_id": [],
                  "answers": []
                },
                "required": [
                  "product_hash",
                  "medication_request_id",
                  "answers"
                ]
              }
            }
          }
        },
        "tags": [
          "Order"
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_hash": [],
                  "medication_request_id": [],
                  "answers": []
                },
                "required": [
                  "product_hash",
                  "medication_request_id",
                  "answers"
                ]
              }
            }
          }
        },
        "tags": [
          "Order"
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_hash": [],
                  "medication_request_id": [],
                  "answers": []
                },
                "required": [
                  "product_hash",
                  "medication_request_id",
                  "answers"
                ]
              }
            }
          }
        },
        "tags": [
          "Order"
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "product_hash",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {}
          },
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Order"
        ]
      }
    },
    "/api/v1/order/{hash}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Order"
        ]
      }
    },
    "/api/v1/order/reorder/{hash}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Order"
        ]
      }
    },
    "/api/v1/order/reorder/{hash}/private": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Order"
        ]
      }
    },
    "/api/v1/order/subscription/{order_number}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "order_number",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Order"
        ]
      }
    },
    "/api/v1/patient/delete": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "hash": {
                    "type": "string"
                  }
                },
                "required": [
                  "hash"
                ]
              }
            }
          }
        },
        "tags": [
          "Patient"
        ]
      }
    },
    "/api/v1/patient/find": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "date_of_birth": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "date_of_birth",
                  "gender"
                ]
              }
            }
          }
        },
        "tags": [
          "Patient"
        ]
      }
    },
    "/api/v1/patient": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "date_of_birth": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  },
                  "nhs_number": {
                    "type": "string"
                  },
                  "mobile": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "date_of_birth",
                  "gender"
                ]
              }
            }
          }
        },
        "tags": [
          "Patient"
        ]
      }
    },
    "/api/v1/patient/answers/{hash}+": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Patient"
        ]
      }
    },
    "/api/v1/pharmacy/all": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Pharmacy"
        ]
      }
    },
    "/api/v1/pharmacy/postcode/{postcode}+": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "postcode",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Pharmacy"
        ]
      }
    },
    "/api/v1/pharmacy/get/postcodes": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "postcodes": []
                },
                "required": [
                  "postcodes"
                ]
              }
            }
          }
        },
        "tags": [
          "Pharmacy"
        ]
      }
    },
    "/api/v1/dialogflow/webhook": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Dialogflow"
        ]
      }
    },
    "/api/v1/products/categories": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Products"
        ]
      }
    },
    "/api/v1/product/{product}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/api/v1/products": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Products"
        ]
      }
    },
    "/api/v1/product/faq/{product}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/api/v1/hashes/product": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Hashes"
        ]
      }
    },
    "/api/v1/product/recommendations/{product}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Product"
        ]
      }
    },
    "/api/v1/product/invalidate": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Product"
        ]
      }
    },
    "/api/v1/question/{hash}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Question"
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "choices": {
                    "type": "array"
                  },
                  "required": {
                    "type": "boolean"
                  },
                  "validation": {
                    "type": "string"
                  },
                  "questionnaire_hash": {
                    "type": "string"
                  },
                  "additional_information": {
                    "type": "string"
                  },
                  "visibility": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array"
                  },
                  "conditions": {
                    "type": "array"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Question"
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "choices": {
                    "type": "array"
                  },
                  "required": {
                    "type": "boolean"
                  },
                  "validation": {
                    "type": "string"
                  },
                  "questionnaire_hash": {
                    "type": "string"
                  },
                  "additional_information": {
                    "type": "string"
                  },
                  "visibility": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array"
                  },
                  "conditions": {
                    "type": "array"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Question"
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "choices": {
                    "type": "array"
                  },
                  "required": {
                    "type": "boolean"
                  },
                  "validation": {
                    "type": "string"
                  },
                  "questionnaire_hash": {
                    "type": "string"
                  },
                  "additional_information": {
                    "type": "string"
                  },
                  "visibility": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array"
                  },
                  "conditions": {
                    "type": "array"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Question"
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Question"
        ]
      }
    },
    "/api/v1/question": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "choices": {
                    "type": "array"
                  },
                  "required": {
                    "type": "boolean"
                  },
                  "validation": {
                    "type": "string"
                  },
                  "questionnaire_hash": {
                    "type": "string"
                  },
                  "hash": {
                    "type": "string"
                  },
                  "additional_information": {
                    "type": "string"
                  },
                  "visibility": {
                    "type": "string"
                  },
                  "conditions": {
                    "type": "array"
                  },
                  "tags": {
                    "type": "array"
                  }
                },
                "required": [
                  "type",
                  "title",
                  "description",
                  "required",
                  "questionnaire_hash",
                  "visibility"
                ]
              }
            }
          }
        },
        "tags": [
          "Question"
        ]
      }
    },
    "/api/v1/question/tags/{slug}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Question"
        ]
      }
    },
    "/api/v1/questionnaire": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "questions": {
                    "type": "array"
                  },
                  "products": {
                    "type": "array"
                  },
                  "tags": {
                    "type": "array"
                  },
                  "status": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "tags": [
          "Questionnaire"
        ]
      }
    },
    "/api/v1/questionnaire/{hash}": {
      "patch": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "questions": {
                    "type": "array"
                  },
                  "products": {
                    "type": "array"
                  },
                  "tags": {
                    "type": "array"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Questionnaire"
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Questionnaire"
        ]
      }
    },
    "/api/v1/questionnaire/tags/{slug}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Questionnaire"
        ]
      }
    },
    "/api/v1/questionnaire/{questionnaire}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "questionnaire",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Questionnaire"
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "questionnaire",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "patient": {
                    "type": "string"
                  },
                  "vendor": {
                    "type": "string"
                  },
                  "answers": {
                    "type": "string"
                  }
                },
                "required": [
                  "patient",
                  "vendor",
                  "answers"
                ]
              }
            }
          }
        },
        "tags": [
          "Questionnaire"
        ]
      }
    },
    "/api/v1/hashes/questionnaire": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Hashes"
        ]
      }
    },
    "/api/v1/questionnaires": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Questionnaires"
        ]
      }
    },
    "/api/v1/questionnaire/meta/{vendor}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Questionnaire"
        ]
      }
    },
    "/api/v1/questionnaire/{questionnaire}/product/{product}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "questionnaire",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          },
          {
            "name": "product",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Questionnaire"
        ]
      }
    },
    "/api/v1/questionnaire/products/{questionnaire}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "questionnaire",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "answer": {
                    "type": "string"
                  },
                  "product": {
                    "type": "string"
                  }
                },
                "required": [
                  "answer",
                  "product"
                ]
              }
            }
          }
        },
        "tags": [
          "Questionnaire"
        ]
      }
    },
    "/api/v1/flags": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Flags"
        ]
      }
    },
    "/api/v1/flag/{hash}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Flag"
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Flag"
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Flag"
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Flag"
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Flag"
        ]
      }
    },
    "/api/v1/flag": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "required": [
                  "title",
                  "description"
                ]
              }
            }
          }
        },
        "tags": [
          "Flag"
        ]
      }
    },
    "/api/v1/review/{product}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Review"
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "array": []
                },
                "required": [
                  "array"
                ]
              }
            }
          }
        },
        "tags": [
          "Review"
        ]
      }
    },
    "/api/v1/shipping/methods": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "zone": {
                    "type": "string"
                  },
                  "cart_total": {
                    "type": "string"
                  },
                  "products": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Shipping"
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Shipping"
        ]
      }
    },
    "/api/v1/shipping/calculate": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "shipping_method_id": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Shipping"
        ]
      }
    },
    "/api/v1/shipping/collection": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Shipping"
        ]
      }
    },
    "/api/v1/shipping/settings": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Shipping"
        ]
      }
    },
    "/api/v1/ryft/webhook": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Ryft"
        ]
      }
    },
    "/api/v1/ryft/refund": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Ryft"
        ]
      }
    },
    "/api/v1/ryft/create_customer": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Ryft"
        ]
      }
    },
    "/api/v1/ryft/retrieve_customer": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Ryft"
        ]
      }
    },
    "/api/v1/ryft/recharge": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Ryft"
        ]
      }
    },
    "/api/v1/test/200": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Test"
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Test"
        ]
      }
    },
    "/api/v1/test/500": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Test"
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Test"
        ]
      }
    },
    "/api/v1/test/error": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Test"
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Test"
        ]
      }
    },
    "/api/v1/test/wp_error": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Test"
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Test"
        ]
      }
    },
    "/api/v1/user/hash/{hash}+": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "User"
        ]
      }
    },
    "/api/v1/user/mobile/{mobile}+": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "mobile",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "User"
        ]
      }
    },
    "/api/v1/user/mobile/{mobile}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "mobile",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "User"
        ]
      }
    },
    "/api/v1/user/register": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      }
    },
    "/api/v1/user/login": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      }
    },
    "/api/v1/user/logout": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      }
    },
    "/api/v1/user/password": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      }
    },
    "/api/v1/user/otp/password": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      }
    },
    "/api/v1/user/otp": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      }
    },
    "/api/v1/user/otp/validate": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      }
    },
    "/api/v1/user/otp/login": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      }
    },
    "/api/v1/user": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      }
    },
    "/api/v1/user/weight": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "weight": {
                    "type": "number"
                  }
                },
                "required": [
                  "weight"
                ]
              }
            }
          }
        },
        "tags": [
          "User"
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      }
    },
    "/api/v1/authors": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Authors"
        ]
      }
    },
    "/api/v1/author/{hash}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Author"
        ]
      }
    },
    "/api/v1/vendor/{vendor}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Vendor"
        ]
      }
    },
    "/api/v1/vendor/slug/{vendor}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Vendor"
        ]
      }
    },
    "/api/v1/vendors": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Vendors"
        ]
      }
    },
    "/api/v1/vendor/{vendor}/products": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Vendor"
        ]
      }
    },
    "/api/v1/vendor/{vendor}/products/discovery": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Vendor"
        ]
      }
    },
    "/api/v1/vendor/{vendor}/search-snippet": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Vendor"
        ]
      }
    },
    "/api/v1/vendor/{vendor}/landing/{template}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          },
          {
            "name": "template",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Vendor"
        ]
      }
    },
    "/api/v1/vendor/{vendor}/gtm-snippet": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Vendor"
        ]
      }
    },
    "/api/v1/vendor/{vendor}/event-handler": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Vendor"
        ]
      }
    },
    "/api/v1/vendor/create": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "domain": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "user": {
                    "type": "integer"
                  },
                  "hash": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "domain",
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "tags": [
          "Vendor"
        ]
      }
    },
    "/api/v2": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "namespace",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "default": "api/v2"
            }
          },
          {
            "name": "context",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "default": "view"
            }
          }
        ]
      }
    },
    "/api/v2/authenticate/token/validate": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Authenticate"
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Authenticate"
        ]
      }
    },
    "/api/v2/authenticate/token/generate": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string"
                  }
                },
                "required": [
                  "key"
                ]
              }
            }
          }
        },
        "tags": [
          "Authenticate"
        ]
      }
    },
    "/api/v2/authenticate/token/renew": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "jwt_renew": {
                    "type": "string"
                  },
                  "user_hash": {
                    "type": "string"
                  }
                },
                "required": [
                  "jwt_renew"
                ]
              }
            }
          }
        },
        "tags": [
          "Authenticate"
        ]
      }
    },
    "/api/v2/products": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Products"
        ]
      }
    },
    "/api/v2/questions/get": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Questions"
        ]
      }
    },
    "/api/v2/questions/tags": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Questions"
        ]
      }
    },
    "/api/v2/question/{hash}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Question"
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "options": {
                    "type": "array"
                  },
                  "required": {
                    "type": "boolean"
                  },
                  "questionnaires": {
                    "type": "array"
                  },
                  "additional_information": {
                    "type": "string"
                  },
                  "consultation_additional_information": {
                    "type": "object"
                  },
                  "tags": {
                    "type": "array"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Question"
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "options": {
                    "type": "array"
                  },
                  "required": {
                    "type": "boolean"
                  },
                  "questionnaires": {
                    "type": "array"
                  },
                  "additional_information": {
                    "type": "string"
                  },
                  "consultation_additional_information": {
                    "type": "object"
                  },
                  "tags": {
                    "type": "array"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Question"
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "options": {
                    "type": "array"
                  },
                  "required": {
                    "type": "boolean"
                  },
                  "questionnaires": {
                    "type": "array"
                  },
                  "additional_information": {
                    "type": "string"
                  },
                  "consultation_additional_information": {
                    "type": "object"
                  },
                  "tags": {
                    "type": "array"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Question"
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Question"
        ]
      }
    },
    "/api/v2/question": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "questionnaires": {
                    "type": "array"
                  },
                  "additional_information": {
                    "type": "string"
                  },
                  "consultation_additional_information": {
                    "type": "object"
                  },
                  "is_followup": {
                    "type": "boolean"
                  },
                  "tags": {
                    "type": "array"
                  }
                },
                "required": [
                  "type",
                  "title",
                  "questionnaires",
                  "is_followup"
                ]
              }
            }
          }
        },
        "tags": [
          "Question"
        ]
      }
    },
    "/api/v2/question-image": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Question-image"
        ]
      }
    },
    "/api/v2/bulk/question": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "hashes": {
                    "type": "array"
                  },
                  "data": {
                    "type": "array"
                  }
                },
                "required": [
                  "hashes",
                  "data"
                ]
              }
            }
          }
        },
        "tags": [
          "Bulk"
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "hashes": {
                    "type": "array"
                  },
                  "data": {
                    "type": "array"
                  }
                },
                "required": [
                  "hashes",
                  "data"
                ]
              }
            }
          }
        },
        "tags": [
          "Bulk"
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "hashes": {
                    "type": "array"
                  },
                  "data": {
                    "type": "array"
                  }
                },
                "required": [
                  "hashes",
                  "data"
                ]
              }
            }
          }
        },
        "tags": [
          "Bulk"
        ]
      }
    },
    "/api/v2/question/tags/{slug}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Question"
        ]
      }
    },
    "/api/v2/questionnaire": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "tags": [
          "Questionnaire"
        ]
      }
    },
    "/api/v2/questionnaire/{questionnaire}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "questionnaire",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Questionnaire"
        ]
      }
    },
    "/api/v2/questionnaires": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Questionnaires"
        ]
      }
    },
    "/api/v2/questionnaires/tags": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Questionnaires"
        ]
      }
    },
    "/api/v2/questionnaire/{hash}": {
      "patch": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Questionnaire"
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Questionnaire"
        ]
      }
    },
    "/api/v2/questionnaire/{questionnaire_hash}/question/{question_hash}/reorder/{direction}": {
      "patch": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "questionnaire_hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          },
          {
            "name": "question_hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          },
          {
            "name": "direction",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Questionnaire"
        ]
      }
    },
    "/api/v2/questionnaire/{hash}/publish": {
      "patch": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Questionnaire"
        ]
      }
    },
    "/api/v2/questionnaire/{questionnaire}/question/{question}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "questionnaire",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          },
          {
            "name": "question",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Questionnaire"
        ]
      }
    },
    "/api/v2/flags": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Flags"
        ]
      }
    },
    "/api/v2/flag/{hash}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {}
          }
        ],
        "tags": [
          "Flag"
        ]
      }
    },
    "/api/v2/user": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      }
    },
    "/api/v2/user/login": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      }
    },
    "/api/v2/user/logout": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "User"
        ]
      }
    }
  }
}